// SPDX-FileCopyrightText: 2021 Carl Schwan <carlschwan@kde.org>
// SPDX-License-Identifier: LGPL-2.1-or-later
#playlist-screenshot,
#playlist-screenshot-dark,
#color-scheme-screenshot {
  cursor: pointer;
}

.container-small {
  max-width: 50rem;
  margin: auto;
}


#kHeader {
  display: flex;
  width: 100%;
  height: calc(100vh - 40px);
  min-height: 380px;
  background-image: url(/assets/img/bg.webp);
  background-position: center;
  background-size: cover;

  .kHeader-image {
    margin: auto;
    text-align: center;
  }

  img {
    max-width: 100%;
    max-height: calc(100vh - 200px);
    min-height: 250px;
    padding: 1rem;
  }

  h1 {
    font-size: 1.8em;
    font-weight: bold;
    color: #fff;
    text-align: center;
  }

  p {
    color: #fff;
    text-align: center;
  }

  .carousel-inner {
    width: 100%;
    height: 100%;
  }

  .carousel-item {
    color: #EEE;
    width: 100%;
    height: 100%;
  }

  .carousel .carousel-item {
      padding: 0;
  }

  .carousel-item-content {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column-reverse;
    margin: auto;

    @media(min-width: 768px) {
      align-items: center;
      height: 100%;
    }
    @media(min-width: 1100px) {
      max-width: 1140px;
      width: 100%;
    }
  }

  .slide-background {
    width: 100%;
    flex-grow: 2;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    @media(min-width: 768px) {
        flex: 2 1 auto;
        height: 100%;
    }
  }

  .carousel-text-overlay {
    flex-shrink: 2;
    text-align: center;
    margin: auto;
    width: 100%;
    padding: 30px 0 10px 0;
    color: #FFF;

    h1 {
      font-size: 1.2em;

      @media(min-width: 1100px) {
          margin-bottom: 16px;
      }
    }

    p {
        line-height: 1.4em;
    }

    @media(min-width: 768px) {
      flex: 1 3 auto;
      position: unset;
      border: none;
      background: none;
      color: #FFF;
      font-size: 1em;
      padding: 0 10px 0 15px;
    }
    @media(min-width: 1100px) {
      font-size: 1.3em;
      padding: 0 40px 0 15px;
    }
  }

  .learn-more {
      color: #54a3d8;
  }

  @media(min-width: 768px) {
      height: calc(100vh - 40px);
  }
  @media(min-width: 1100px) {
      height: calc(100vh - 40px);
  }
}

.slide-background {
  background-image: url(https://cdn.kde.org/screenshots/haruna/haruna-breeze-light.png);
  @media (prefers-color-scheme: dark) {
    background-image: url(https://cdn.kde.org/screenshots/haruna/haruna-breeze-dark.png);
  }
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.feature > div {
  padding: 10px;
}

.feature > div:first-child {
  flex-basis: 50%;
}

.feature > div:last-child {
  flex-basis: 50%;
}

button {
  margin: 0.2rem;
}

.screenshot {
  box-shadow: 0 0 10px #333;
  width: 100%;
  max-width: 650px
}

.theme .screenshot {
  max-width: 950px;
}


@media (min-width: 800px) {
  .feature {
    flex-direction: row;
  }
  .feature:nth-child(2n + 1) > div:first-child {
    order: 1;
  }
  .feature:nth-child(2n + 1) > div:last-child {
    order: 0;
  }
}

.theme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 75px 0;
}
.theme h2{
  margin: 25px;
}
