{{ define "head-import" }}
{{ $style := resources.Get "scss/main.scss" | toCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
{{ end }}

{{ define "main" }}
  <main class="container container-small" role="main">
    <h1>{{ .Title }}&nbsp;{{ partial "rss_section.html" . }}</h1>

    {{ $title := .Title }}

    {{ with .Content }}
      {{ . }}
    {{ end }}

    {{ if not .Params.nosubpage }}
      <div class="">

        {{ range where .Paginator.Pages "Params.hidden" "ne" "true" }}
        <div class="bg-body-tertiary border d-block p-3">
            <a href="{{ .RelPermalink }}" class="fs-4">{{ .Title | safeHTML }}</a>
            <div class="fs-6">{{ partial "i18n_date.html" . }}</div>
        </div>
        {{ end }}

      </div>
    {{ template "_internal/pagination.html" . }}
    {{ end }}
  </main>
{{ end }}
