{{ define "head-import" }}
{{ $style := resources.Get "scss/main.scss" | toCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
{{ end }}
{{ define "main" }}
<main role="main" class="container container-small">
  <article class="post-content">
    <h1 class="page-header pt-4 mt-5">{{ .Title }}</h1>
    <div class="ms-2 mb-5 fs-6">posted on {{ partial "i18n_date.html" . }} by {{ .Params.Author }}</div>
    <div class="content-width fs-6">
      {{ .Content }}
    </div>
  </article>

  {{ with .Params.include_html }}
  <div id="wrapper">{{ i18n "loading" }}</div>
  <script>
    window.addEventListener("load", function() {
      fetch("{{ . }}").then(response => {
        return response.text();
      }).then(html => {
        var wrapper = document.getElementById("wrapper");
        wrapper.innerHTML = html;
        var scripts = wrapper.querySelectorAll("script");
        for (var i = 0; i < scripts.length; i++) {
          if (scripts[i].innerText) {
            eval(scripts[i].innerText);
          } else {
            fetch(scripts[i].src).then(response => { return response.text(); })
              .then(js => { eval(js); });
          }
          scripts[i].parentNode.removeChild(scripts[i]);
        }
      });
    });
  </script>
  {{ end }}

  {{ if .Params.tags }}
    <div class="blog-tags">
      Tags:
      {{ range .Params.tags }}
      &nbsp;<a href="/tags/{{ . | urlize }}/">{{ . }}</a>
      {{ end }}
    </div>
  {{ end }}

  {{ if .Site.Params.showRelatedPosts }}
    {{ $related := .Site.RegularPages.Related . | first 3 }}
    {{ with $related }}
    <h4 class="see-also">See also:</h4>
    <ul>
      {{ range . }}
      <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
      {{ end }}
    </ul>
    {{ end }}
  {{ end }}
  {{ partial "copyright.html" . }}
</main>
{{ end }}
