{{/*
# SPDX-FileCopyrightText: 2020 Anubhav Choudhary
# SPDX-FileCopyrightText: 2020 Nikunj Goyal
# SPDX-License-Identifier: CC-BY-SA-4.0
*/}}

{{ define "head-import" }}
{{ $style := resources.Get "scss/main.scss" | toCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
{{ end }}

{{ define "main" }}
<section id="kHeader" class="carousel">
  <div class="kHeader-image">
    <h1>{{ .Title }}</h1>
    <p>{{ .Site.Params.description }}</p>
    <picture class="img-fluid">
      <source srcset="/assets/img/haruna-dark.webp" media="(prefers-color-scheme: dark)">
      <img src="/assets/img/haruna-light.webp" alt="{{ i18n "home.features.playlist.alt" }}">
    </picture>
  </div>
</section>

<main aria-label="Content" style="margin-right: none;" id="content">
 
<!-- ============================================= -->
<!--                                               -->
<!--     Features                                  -->
<!--                                               -->
<!-- ============================================= -->

  <div class="container">
    <h1 class="text-center">{{ i18n "home.features" }}</h1>

<!-- Playlist -->
    <div class="feature mt-4">
      <div class="pe-5 fs-5">
        <h2>{{ i18n "home.features.playlist" }}</h2>
        <p>{{ i18n "home.features.playlist.description" }}</p>
        <p>{{ i18n "home.features.playlist.description2" }}</p>
        <p>{{ i18n "home.features.playlist.description3" }}</p>
      </div>
      <div>
      <p>
        <a href="assets/img/haruna-playlist-default.png" target="_blank" class="btn btn-outline-primary btn-sm change-pl-btn"
        data-imgSource="/assets/img/haruna-playlist-default.png"
        data-imgSourceDark="/assets/img/haruna-playlist-default-dark.png">Default</a>
        
        <a href="assets/img/haruna-playlist-thumbnails.png" target="_blank" class="btn btn-outline-primary btn-sm change-pl-btn"
        data-imgSource="/assets/img/haruna-playlist-thumbnails.png"
        data-imgSourceDark="/assets/img/haruna-playlist-thumbnails-dark.png">Thumbnails</a>
        
        <a href="assets/img/haruna-playlist-compact.png" target="_blank" class="btn btn-outline-primary btn-sm change-pl-btn"
        data-imgSource="/assets/img/haruna-playlist-compact.png"
        data-imgSourceDark="/assets/img/haruna-playlist-compact-dark.png">Compact</a>
      </p>
        <picture class="img-fluid">
          <source id="playlist-screenshot-dark" srcset="/assets/img/haruna-playlist-default-dark.png" media="(prefers-color-scheme: dark)">
          <img id="playlist-screenshot" class="screenshot" src="/assets/img/haruna-playlist-default.png" alt="{{ i18n "home.features.playlist.alt" }}">
        </picture>
      </div>
    </div>

<!-- Shortcuts -->
    <div class="feature mt-4">
      <div class="ps-5 fs-5">
        <h2>{{ i18n "home.features.shortcuts" }}</h2>
        <p>{{ i18n "home.features.shortcuts.description" }}</p>
      </div>
      <div>
        <picture class="img-fluid">
          <source srcset="/assets/img/haruna-shortcuts-dark.png" media="(prefers-color-scheme: dark)">
          <img id="shortcuts-screenshot" class="screenshot" src="assets/img/haruna-shortcuts.png" alt="{{ i18n "home.features.playlist.alt" }}">
        </picture>
      </div>
    </div>


<!-- ============================================= -->
<!--                                               -->
<!--     Other features                            -->
<!--                                               -->
<!-- ============================================= -->

    <div class="container container-small pt-5">
      <div class="fs-5">
        <h2>{{ i18n "home.features.others" }}</h2>
        <ul>
          <li>{{ i18n "home.features.others.f_video_preview" }}</li>
          <li><a href="/blog/2024-05-21-interacting-with-mpv">{{ i18n "home.features.others.f_mp_commands_p1" }}</a> {{ i18n "home.features.others.f_mp_commands_p2" }}</li>
          <li>{{ i18n "home.features.others.f_youtube" }}</li>
          <li>{{ i18n "home.features.others.f_auto_skip_chapter" }}</li>
          <li>{{ i18n "home.features.others.f_mouse_actions" }}</li>
          <li>{{ i18n "home.features.others.f_seekbar_skip_chapter" }}</li>
          <li>{{ i18n "home.features.others.f_hide_menu_toolbar" }}</li>
        </ul>
      </div>
    </div>

<!-- ============================================= -->
<!--                                               -->
<!--     Theming                                   -->
<!--                                               -->
<!-- ============================================= -->

    <div class="theme mt-4">
      <h2>{{ i18n "home.features.theme" }}</h2>
      <p class="fs-5">{{ i18n "home.features.theme.description" | markdownify }}</p>
      <div class="color-scheme-showcase">
      <p>
        <a href="assets/img/haruna-breeze-dark.png" target="_blank" class="btn btn-outline-primary btn-sm change-ss-btn" data-imgSource="/assets/img/haruna-breeze-dark.png">Breeze dark</a>
        <a href="assets/img/haruna-breeze-light.png" target="_blank"  class="btn btn-outline-primary btn-sm change-ss-btn" data-imgSource="/assets/img/haruna-breeze-light.png">Breeze light</a>
        <a href="assets/img/haruna-layan-dark.png" target="_blank"  class="btn btn-outline-primary btn-sm change-ss-btn" data-imgSource="/assets/img/haruna-layan-dark.png">Layan dark</a>
        <a href="assets/img/haruna-nordic.png" target="_blank"  class="btn btn-outline-primary btn-sm change-ss-btn" data-imgSource="/assets/img/haruna-nordic.png">Nordic</a>
        <a href="assets/img/haruna-otto.png" target="_blank"  class="btn btn-outline-primary btn-sm change-ss-btn" data-imgSource="/assets/img/haruna-otto.png">Otto</a>
      </p>
      <img id="color-scheme-screenshot" class="screenshot" src="/assets/img/haruna-breeze-dark.png" alt="Haruna breeze light color scheme">
      </div>
    </div>
  </div>
  
  
  <section id="home-available" class="pb-5 pt-5 mt-0 text-center">
    <a href="download" class="btn btn-primary btn-lg">Download</a>
  </section>
 
</main>

<script>
const playlistImageContainer = document.getElementById("playlist-screenshot")
const playlistDarkImageContainer = document.getElementById("playlist-screenshot-dark")
const themeImageContainer = document.getElementById("color-scheme-screenshot")
const shortcutsImageContainer = document.getElementById("shortcuts-screenshot")

document.getElementById("color-scheme-screenshot")
document.querySelectorAll(".change-ss-btn").forEach(function(item) {
  item.addEventListener("click", function(e) {
    e.preventDefault()
    themeImageContainer.setAttribute("src", item.dataset.imgsource)
  });
});
document.querySelectorAll(".change-pl-btn").forEach(function(item) {
  item.addEventListener("click", function(e) {
    e.preventDefault()
    playlistImageContainer.setAttribute("src", item.dataset.imgsource)
    playlistDarkImageContainer.setAttribute("srcset", item.dataset.imgsourcedark)
  });
});



playlistImageContainer.addEventListener("click", function() {
  if ( typeof playlistImageContainer.currentSrc !== "undefined" ) {
    window.open(playlistImageContainer.currentSrc, '_blank');
  }
})
playlistImageContainer.addEventListener("mouseover", function() {
  playlistImageContainer.style.cursor = "pointer"
})

themeImageContainer.addEventListener("click", function() {
  window.open(themeImageContainer.getAttribute("src"), '_blank');
})
themeImageContainer.addEventListener("mouseover", function() {
  themeImageContainer.style.cursor = "pointer"
})

shortcutsImageContainer.addEventListener("click", function() {
  if ( typeof shortcutsImageContainer.currentSrc !== "undefined" ) {
    window.open(shortcutsImageContainer.currentSrc, '_blank');
  }
})
shortcutsImageContainer.addEventListener("mouseover", function() {
  shortcutsImageContainer.style.cursor = "pointer"
})
</script>
{{ end }}
